form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.3rem;
}

input {
  background-color: #1f1e1b;
  border: 1px solid #1f1e1b;
  padding: 0.7rem;
  border-radius: 5px;
  outline: none;
  margin-right: 1rem;
  font: inherit;
  overflow: hidden;
  color: white;
}

.submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font: inherit;
}

.reset {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  position: absolute;
  right: 0;
  font: inherit;
}

@media (max-width: 978px) {
  form {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  form {
    display: block;
  }
  input {
    width: 100%;
  }
}
