<section>
  <header>
    How many times does the number <span>{{ randomDigit() }}</span> appear?
  </header>
  <div class="container-difficulty-and-timer">
    <div class="select-container">
      <label for="difficulty">Select Difficulty:</label>
      <select
        name="difficulty"
        id="difficulty"
        (change)="onSelectedDifficulty(filter.value)"
        #filter
        [disabled]="isOutputVisible()"
      >
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
    <app-timer
      [difficultyOption]="selectedDifficulty()"
      [isOutputVisible]="isOutputVisible()"
      (timeout)="onTimeout($event)"
    />
  </div>

  <app-random-numbers [difficultyMode]="selectedDifficulty()" />

  <app-input-result
    [randomDigit]="randomDigit()"
    [isTimeout]="isTimeout()"
    (checkAnswer)="onCheckAnswer($event)"
  />

  @if(isOutputVisible()) {
  <app-output-result
    [isCorrectAnswer]="isCorrectAnswer()"
    [isTimeout]="isTimeout()"
  />
  }
</section>
